<h1>Penny-wise</h1>

<p><a href="/transactions/new">Create Transaction</a></p>

<% for transaction in @transactions%>
<p> Category: <%= transaction.category.name() %></p>
<p> Merchant: <%= transaction.merchant.name() %></p>
<p> Value: <%= transaction.value() %></p>
<p> Transaction Date: <%= transaction.transaction_date() %></p>

<p><a href="/transactions/<%= transaction.id %>">Show</a></p>
<hr/>

<% end %>