<p>£<%= @filtered_total_value %><p>

<table>
  <tr>
      <th>Item</th>
     <th>Category</th>
     <th>Merchant</th>
     <th>Value</th>
     <th>Transaction Date</th>
   </tr>
   <% for transaction in @filtered_list%>
  
   <tr>
   <td><%= transaction.item() %></td>
    <td><%= transaction.category.name() %></td>
    <td><%= transaction.merchant.name() %></td>
    <td>£<%= transaction.value() %></td>
    <td><%= transaction.transaction_date() %></td>
    <td><a href="/transactions/<%= transaction.id %>">Show</a></td>
    </tr>
    <% end %>

</table>