  <ul class="controls">
    <li>
    <p class="button">
      <a href="/transactions/new">Create Transaction</a>
    </p>
    </li>
    <li>
    <p>£<%= @total %></p>
    </li>
  </ul>

<div class="table title=">
  <h2>Data Table</h2>
</div>
  <table>
    <tr>
      <th>Transaction Date</th>
      <th>item</th>
     <th>Category</th>
     <th>Merchant</th>
     <th>Value</th>
   </tr>
   <% for transaction in @transactions%>
   <tr>
   <td><%= transaction.transaction_date() %></td>
   <td><%= transaction.item() %></td>
    <td><%= transaction.category.name() %></td>
    <td><%= transaction.merchant.name() %></td>
    <td>£<%= transaction.value() %></td>
  </tr>
  <% end %>
  </table>
  </div>

  <label>
    <form action = "/categories/filter" method="post">
      <select name="category_id">
        <% for category in @categories %>
        <option value="<%=category.id%>"><%=category.name%></option>
        <% end %>
      </select>
    </label>
    <input type="submit" value="Filter"/>


