  <ul class="controls">
    <li>
    <p class="button">
      <a href="/transactions/new">Create Transaction</a>
    </p>
    </li>
    <li>
    <p>£<%= @total %></p>
    </li>
  </ul>

  <label>
    <form action = "/categories/filter" method="post">
      <select name="category_id">
        <% for category in @categories %>
        <option value="<%=category.id%>"><%=category.name%></option>
        <% end %>
      </select>
    </label>
    <input type="submit" value="Filter"/>

<div class="table title=">
  <h2>All Transactions</h2>
</div>
<table class="table-fill">
  <thead>
    <tr>
      <th>Transaction Date</th>
      <th>Item</th>
     <th>Category</th>
     <th>Merchant</th>
     <th>Value</th>
   </tr>
   </thead>
   <tbody class="table-hover">
   <% for transaction in @transactions%>
   <tr>
   <td class ="text-left"><%= transaction.transaction_date() %></td>
   <td class ="text-left"><%= transaction.item() %></td>
    <td class ="text-left"><%= transaction.category.name() %></td>
    <td class ="text-left"><%= transaction.merchant.name() %></td>
    <td class ="text-left">£<%= transaction.value() %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
  </div>

  


