  <p>Category: <%= @transaction.category.name %></p>
  <p>Merchant: <%= @transaction.merchant.name %></p>
  <p>Value: <%= @transaction.value %></p>
  <p>Transaction Date: <%= @transaction.transaction_date %></p>

  <p>
    <a href="/transactions/<%= @transaction.id %>/edit">  Edit</a>
  </p>

  <form action="/transactions/<%= @transaction.id %>/delete" method="post">
    <input type="submit" value="Delete" />
  </form>